@tailwind base;
@tailwind components;
@tailwind utilities;

/* font impoted */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

/** Custom styles */

.active {
  background-color: coral;
}

/** Toggle Switcher */
input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 80px;
  height: 24px;
  background: hsl(213, 96%, 18%);
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: hsl(213, 96%, 18%);
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 50px;
}

/** Steps cards show control */
.step {
  display: none;
}

.step.active {
  display: block;
}
